<template>
  <form class="form-horizontal" @submit.prevent="postTrip">
    <input type="hidden" name="_token" :value="csrf" />
    <div class="form-group">
      <label class="col-md-4 control-label" for="date">Date</label>
      <div class="col-md-4">
        <input id="date" v-model="date" type="date" class="form-control input-md" required />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="car_id">Véhicule</label>
      <div class="col-md-4">
        <select id="car_id" v-model="car_id" class="form-control">
          <option v-for="car in cars" :value="car.id" >{{car.model}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="start">Départ</label>
      <div class="col-md-4">
        <input
          id="start"
          v-model="start"
          type="text"
          placeholder="Lieu de départ"
          class="form-control input-md"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="end">Arrivée</label>
      <div class="col-md-4">
        <input
          id="end"
          v-model="end"
          type="text"
          placeholder="Lieu d'arrivée"
          class="form-control input-md"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="roundtrip">Aller/retour</label>
      <div class="col-md-4">
        <label class="radio-inline" for="roundtrip-0">
          <input type="radio" v-model="roundtrip" id="roundtrip-0" value="1" checked="checked" />
          Oui
        </label>
        <label class="radio-inline" for="roundtrip-1">
          <input type="radio" v-model="roundtrip" id="roundtrip-1" value="0" />
          Non
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="sendForm" name="sendForm" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </form>
</template>

<script>
import VueRouter from 'vue-router'
const axios = require('axios');
export default {
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      cars: {},
      date: "",
      car_id: "",
      start: "",
      end: "",
      roundtrip: ""
    };
  },
  mounted() {
    this.getCars();
  },
  methods: {
    getCars() {
      axios.get("http://127.0.0.1:8000/api/1.0/getcars", {
              headers: {
                Accept: "application/json",
                Authorization:
                  " Bearer " + localStorage.access_token
              }}).then(response => {
        // console.log(response)
        this.cars = response.data;
      });
    },
    postTrip() {
      console.log(localStorage.user)
      axios
        .post("http://127.0.0.1:8000/api/1.0/trip", {
          user_id: localStorage.user_id,
          date: this.date,
          car_id: this.car_id,
          start: this.start,
          end: this.end,
          roundtrip: this.roundtrip
        })
        .then(response => {
          this.$toasted.global.success("Trajet ajouté avec succès");
          this.$router.push('trips')
        })
        .catch(error => {
          console.log("erreur");
          console.log(error);
          console.log(localStorage.user_id)
          this.$toasted.global.error("Erreur lors de l'ajout du trajet");
        });
    }
  }
};
</script>
