<template>
  <div>
    <div class="container">
      <a role="button" @click="$router.push('addcar')" class="btn btn-primary">Ajouter</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Modèle</th>
            <th scope="col">Carburant</th>
            <th scope="col">Puissance</th>
            <th scope="col">Immatriculation</th>
            <th scope="col">Gestion</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="car in cars" :key="car.id">
            <td>{{car.model}}</td>
            <td>{{car.fuel}}</td>
            <td>{{car.power}}</td>
            <td>{{car.registration}}</td>
            <td class="row">
              <a
                role="button"
                class="btn btn-primary"
                @click="$router.push({ name: 'editcar', params: {id: car.id }})"
              >Modifier</a>
              <button class="btn btn-danger" @click="deleteCar(car.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
const axios = require("axios");
export default {
  data() {
    return {
      cars: {}
    };
  },
  mounted() {
    this.getCars();
  },
  methods: {
    getCars() {
      axios
        .get("http://127.0.0.1:8000/api/1.0/getcars", {
          headers: {
            Accept: "application/json",
            Authorization: " Bearer " + localStorage.access_token
          }
        })
        .then(response => {
          this.cars = response.data;
        }).catch(error => {
          console.log(error)
        });
    },
    deleteCar(id) {
      console.log(id);
      axios
        .delete("http://127.0.0.1:8000/api/1.0/car/" + id)
        .then(response => {
          this.$toasted.global.success("Véhicule supprimé avec succès");
          this.getcars();
        })
        .catch(error => {
          console.log(error);
          this.$toasted.global.error(
            "Error lors de la suppression du véhicule"
          );
        });
    }
  }
};
</script>
