<template>
  <form class="form-horizontal" @submit.prevent="updateTrip(trip.id)">
    <input type="hidden" name="_token" :value="csrf" />
    <div class="form-group">
      <label class="col-md-4 control-label" for="date">Date</label>
      <div class="col-md-4">
        <input id="date" v-model="trip.date" type="date" class="form-control input-md" required />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="car_id">Véhicule</label>
      <div class="col-md-4">
        <select id="car_id" v-model="trip.car_id" class="form-control">
          <option v-for="car in cars" :value="car.id" v-bind="car.id">{{car.model}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="start">Départ</label>
      <div class="col-md-4">
        <input
          id="start"
          v-model="trip.start"
          type="text"
          placeholder="Lieu de départ"
          class="form-control input-md"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="end">Arrivée</label>
      <div class="col-md-4">
        <input
          id="end"
          v-model="trip.end"
          type="text"
          placeholder="Lieu d'arrivée"
          class="form-control input-md"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="roundtrip">Aller/retour</label>
      <div class="col-md-4">
        <label class="radio-inline" for="roundtrip-0">
          <input type="radio" v-model="trip.roundtrip" id="roundtrip-0" value="1" checked="checked" />
          Oui
        </label>
        <label class="radio-inline" for="roundtrip-1">
          <input type="radio" v-model="trip.roundtrip" id="roundtrip-1" value="0" />
          Non
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="sendForm" name="sendForm" class="btn btn-primary">Modifier</button>
      </div>
    </div>
  </form>
</template>

<script>
import VueRouter from "vue-router";
const axios = require("axios");
export default {
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      cars: {},
      trip: {}
    };
  },
  mounted() {
    this.getCars(), this.getTrip(this.$route.params.id);
  },
  methods: {
    getCars() {
      axios
        .get("http://127.0.0.1:8000/api/1.0/getcars", {
          headers: {
            Accept: "application/json",
            Authorization: " Bearer " + localStorage.access_token
          }
        })
        .then(response => {
          // console.log(response)
          this.cars = response.data;
        });
    },
    getTrip(id) {
      axios
        .get("http://127.0.0.1:8000/api/1.0/trip/" + id)
        .then(response => {
          this.trip = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    updateTrip(id) {
      axios
        .put("http://127.0.0.1:8000/api/1.0/trip/" + id, {
          Request: this.trip
        })
        .then(response => {
          this.$toasted.global.success("Trajet modifié avec succès");
          this.$router.push("trips");
        })
        .catch(error => {
          this.$toasted.global.error("Erreur lors de la modification");
        });
    }
  }
};
</script>
