<template>
  <div>
    <form @submit.prevent="login">
      <div class="form-group">
        <label class="col-md-4 control-label" for="Email">Adresse Email</label>
        <div class="col-md-4">
          <input
            id="email"
            v-model="email"
            type="email"
            placeholder="Votre adresse Email"
            class="form-control input-md"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="password">Mot de passe</label>
        <div class="col-md-4">
          <input
            id="password"
            v-model="password"
            type="password"
            placeholder="Mot de passe"
            class="form-control input-md"
            required
          />
        </div>
      </div>
      <div v-if="erreur.length > 1" class="alert alert-danger" role="alert">{{erreur}}</div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <button id="sendForm" name="sendForm" class="btn btn-primary">Connexion</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import VueRouter from "vue-router";
const axios = require("axios");
import APIconfig from "../App.vue";
import getHeaders from "../config.js";
export default {
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      email: "",
      password: "",
      erreur: "",
      user: {}
    };
  },
  mounted() {},
  methods: {
    login() {
      console.log(APIconfig.client_id)
      axios
        .post("http://127.0.0.1:8000/oauth/token", {
          headers: {
            Accept: "application/json"
          },
          grant_type: "password",
          client_id: APIconfig.client_id,
          client_secret: APIconfig.client_secret,
          username: this.email,
          password: this.password,
          scope: "*"
        })
        .then(response => {
          console.log(response + "Authentification ok");
          this.erreur = "";
          localStorage.setItem("access_token", response.data.access_token);
          axios
            .get("http://127.0.0.1:8000/api/user", {
              headers: {
                Accept: "application/json",
                Authorization:
                  " Bearer " + localStorage.access_token
              }
            })
            .then(resp => {
              localStorage.setItem("user", JSON.stringify(resp.data));
              localStorage.setItem("user_id", JSON.stringify(resp.data.id))
              console.log(localStorage.user)
              this.$router.push('/')
            })
            .catch(err => {
              console.log(err);
            });
        })
      .catch(error => {
        console.log("Erreur d'authentification " + error);
        this.erreur = "Votre compte ou votre mot de passe est incorrect"
      });
    }
  }
};
</script>
