<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Fraiskilométriques</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <router-link :to="{ name: '/' }">Home</router-link>
      </li>
      <li class="nav-item">
        <router-link :to="{ name: 'trips' }">Trajets</router-link>
      </li>
      <li class="nav-item">
        <router-link :to="{ name: 'cars' }">Voiture</router-link>
      </li>
      <li class="nav-item">
        <router-link :to="{ name: 'login' }">Connexion</router-link>
      </li>
    </ul>
  </div>
</nav>
</template>

<script>
export default {
  name: 'Navbar'
}
</script>
<style>
</style>
