<template>
    <div>
        <Navbar></Navbar>
        <div class="container">
            <transition :name="transitionName">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>
<script>
import VueRouter from 'vue-router'
import Navbar from './components/HelloWorld'
    export default {
      name: 'App',
      client_secret: 'FfnfFvyEL0bhbLTaXcEGjKiRoOb13xIdBdJqxiUA',
      client_id: '3',
      key: '',
  data(){
      return {
          transitionName:''
      }
  },
  watch: {
    $route(to, from) {
      if(to.meta.index > from.meta.index){
        this.transitionName = 'slide-left';
      }else{
        this.transitionName = 'slide-right';
      }
    }
  },
  mounted() {
    this.getkey()
  },
  methods: {
    getkey() {
      console.log("Récupération de la clé")
      this.key = localStorage.access_token
      console.log(this.key)
    },
    disconnect() {
      localStorage.clear()
      this.$router.push('/');
    },
  },
    }
</script>
<style>
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 500ms;
  position: absolute;
}
.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
</style>